# Pandas Intro

## Table of Contents

* [1. Pandas](#1.-Pandas)


* [2. Data Structures](#2.-Data-Structures)
    * [2.1 Series](#2.1-Series)
    * [2.2 DataFrame](#2.2-DataFrame)
    

* [3. Further Reading](#3.-Further-Reading)


* [4. Answers](#4.-Answers)
    * [4.1 Reference Implementations](#4.1-Reference-Implementations)

## 1. Pandas

This notebook is a tour of the [pandas](http://pandas.pydata.org/) library.  Pandas is an open-source Python library that gives you fast and easy-to-use data structures and analysis tools.  

We'll be using pandas throughout this class, so let's familiarize ourselves with the basics.

## 2. Data Structures

The pandas library is built around two primary data structures: `Series` and `DataFrames`. 

### 2.1 Series

A [`Series`](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#series) is a lot like a Python list, but with some added functionality.  If you create a `Series` from a plain Python list, you'll get the 0-indexed structure that you expect:

In [2]:
import pandas as pd

def about_equals(val1, val2):
    e = .00001
    if abs(val1-val2) > e:
        raise Exception('{} is not about equal to {}'.format(val1, val2))

In [2]:
example_series = pd.Series([1,2,3,"foo", "bar"])
print(example_series[0])
print(example_series[4])

1
bar

One cool `Series` feature is that you can use string indices instead of integer indices:

In [3]:
wins = pd.Series([93,91,80,76,75], index=["Red Sox", "Yankees", "Rays", "Jays", "Orioles"])

A `Series` with string index has a nice mix of list-like and dictionary-like properties:

In [4]:
# Integer indexing
index_0_wins = wins[0]
print("Wins at index 0: {}".format(index_0_wins))
print()

# String indexing
red_sox_wins = wins["Red Sox"]
print("Red Sox wins: {}".format(red_sox_wins))
print()

# Index multiple
red_sox_yankees_wins = wins[["Yankees", "Red Sox"]]
print("Multiple indexing:")
print(red_sox_yankees_wins)
print()

# Inclusion
contains_red_sox = "Red Sox" in wins
contains_giants = "Giants" in wins
print("Contains Red Sox?: {}".format(contains_red_sox))
print("Contains Giants?: {}".format(contains_giants))

Wins at index 0: 93

Red Sox wins: 93

Multiple indexing:
Yankees    91
Red Sox    93
dtype: int64

Contains Red Sox?: True
Contains Giants?: False

You can also initialize a `Series` with a Python dictionary:

In [8]:
wins = pd.Series({"Red Sox": 93, "Yankees": 91, "Rays": 80, "Jays": 76, "Orioles": 75})

A `Series` comes with a bunch of convenient built-in analysis functions:

In [9]:
median = wins.median()
mean = wins.mean()
std_dev = wins.std()

print('Median wins: {}'.format(median))
print('Mean wins: {}'.format(mean))
print('Standard deviation: {}'.format(std_dev))
print()

# Or just describe() get a quick summary
wins.describe()

Median wins: 80.0
Mean wins: 83.0
Standard deviation: 8.455767262643882

count     5.000000
mean     83.000000
std       8.455767
min      75.000000
25%      76.000000
50%      80.000000
75%      91.000000
max      93.000000
dtype: float64

[Feature scaling](https://en.wikipedia.org/wiki/Feature_scaling) is a technique used in data analysis to standardize the range of a variable.  It is calculated as follows:

$$
\frac{x - x_{min}}{x_{max}-x_{min}}
$$

Now, try to calculate `scaled_wins` by applying feature scaling to the `wins` `Series`.

In [3]:
scaled_wins = None # Implement your code to calculate scaled_wins here

Run the following block to see if you calculated `scaled_wins` correctly. If you get stuck, check out the [reference implementation](#Feature-Scaling).

In [26]:
# Check scaled_wins
about_equals(scaled_wins['Orioles'], 0.0)
about_equals(scaled_wins['Jays'], 0.0555555)
about_equals(scaled_wins['Rays'], 0.2777777)
about_equals(scaled_wins['Yankees'], 0.8888888)
about_equals(scaled_wins['Red Sox'], 1.0)

One pandas feature that can be confusing at first is boolean indexing.  Once you get used to it, however, boolean indexing allows for quick and succinct data slicing and dicing.  Check out the following statement that returns only teams with more than 80 wins:

In [7]:
wins[wins > 80] # All items that are greater than 80

Red Sox    93
Yankees    91
dtype: int64

Let's break down boolean indexing.  First the less-than operation is applied across the `Series`, producing a new `Series` of booleans.

In [8]:
wins > 80

Jays       False
Orioles    False
Rays       False
Red Sox     True
Yankees     True
dtype: bool

Then we use the indexing operator on the original `Series`.  When passed a boolean `Series`, the indexing operator will return a new `Series` composed of the entries that correspond to True.  Here's another example where we only return teams that had fewer wins than the median:

In [9]:
wins[wins < wins.median()]

Jays       76
Orioles    75
dtype: int64

Now, try to get all the teams with fewer wins than the Red Sox using boolean indexing.  If you get stuck, check out the [reference implementation](#Boolean-Indexing).

In [28]:
# Select all teams with fewer wins than the Red Sox

Notice also how functions and operators are applied across the `Series` in an intuitive way:

In [10]:
wins * 2

Jays       152
Orioles    150
Rays       160
Red Sox    186
Yankees    182
dtype: int64

In [11]:
wins - wins

Jays       0
Orioles    0
Rays       0
Red Sox    0
Yankees    0
dtype: int64

### 2.2 DataFrame

The [`DataFrame`](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dataframe) is the bread and butter of the pandas library.  It is 2D structure with rows and columns--equivalent to a table in a database or a spreadsheet in Excel.  Alternatively, you can think of it as a collections of pandas `Series` that share an index.

In [12]:
data = {
    'Team': ['Red Sox', 'Yankees', 'Rays', 'Jays', 'Orioles'],
    'Home Wins': [48, 51, 42, 42, 46],
    'Home Losses': [33, 30, 39, 39, 35],
    'Away Wins': [45, 40, 38, 34, 29],
    'Away Losses': [36, 41, 43, 47, 52],
    'Payroll ($MM)': [199.8, 201.5, 70.0, 177.8, 163.7]
}

pd.DataFrame(data)

   Away Losses  Away Wins  Home Losses  Home Wins  Payroll ($MM)     Team
0           36         45           33         48          199.8  Red Sox
1           41         40           30         51          201.5  Yankees
2           43         38           39         42           70.0     Rays
3           47         34           39         42          177.8     Jays
4           52         29           35         46          163.7  Orioles

You can also easily read in a `DataFrame` from a CSV:

In [3]:
al_east = pd.read_csv('al_east_2017_regular_season.csv').set_index('Team')
al_east

         Home Wins  Home Losses  Away Wins  Away Losses  Payroll ($MM)
Team
Red Sox         48           33         45           36          199.8
Yankees         51           30         40           41          201.5
Rays            42           39         38           43           70.0
Jays            42           39         34           47          177.8
Orioles         46           35         29           52          163.7

Pandas provides quite a few functions to read data into a `DataFrame`.  Check out the [documentation](http://pandas.pydata.org/pandas-docs/stable/api.html#input-output) before you write a custom function to make sure your use case isn't supported out of the box. 

`DataFrames` expose a lot of the same functionality we saw on `Series`.  You can quickly get summaries of the `DataFrame` and the data:

In [14]:
al_east.dtypes

Team              object
Home Wins          int64
Home Losses        int64
Away Wins          int64
Away Losses        int64
Payroll ($MM)    float64
dtype: object

In [15]:
al_east.shape  # Index 0 is the row count, index 1 is the column count

(5, 6)

In [16]:
al_east.describe()

       Home Wins  Home Losses  Away Wins  Away Losses  Payroll ($MM)
count   5.000000     5.000000   5.000000     5.000000       5.000000
mean   45.800000    35.200000  37.200000    43.800000     162.560000
std     3.898718     3.898718   6.058052     6.058052      54.092634
min    42.000000    30.000000  29.000000    36.000000      70.000000
25%    42.000000    33.000000  34.000000    41.000000     163.700000
50%    46.000000    35.000000  38.000000    43.000000     177.800000
75%    48.000000    39.000000  40.000000    47.000000     199.800000
max    51.000000    39.000000  45.000000    52.000000     201.500000

You can create new columns and perform vector math in an intuitive way.  Try to calculate the home and away win percentage for each team below:

In [35]:
# Calculate Home and Away win percentages
al_east['Home Win Pct'] = 0
al_east['Away Win Pct'] = 0

Run the following block to check your calculation.  If you get stuck, take a look at the [reference implementation](#Win-Percentage).

In [52]:
about_equals(al_east['Away Win Pct']['Red Sox'], 0.555555)
about_equals(al_east['Away Win Pct']['Orioles'], 0.358024)
about_equals(al_east['Home Win Pct']['Yankees'], 0.629629)
about_equals(al_east['Home Win Pct']['Jays'], 0.518518)

`DataFrame`s  allow you to index multiple columns simultaneously:

In [54]:
al_east[['Home Wins', 'Home Win Pct']]

         Home Wins  Home Win Pct
Team
Red Sox         48      0.592593
Yankees         51      0.629630
Rays            42      0.518519
Jays            42      0.518519
Orioles         46      0.567901

Boolean indexing still works:

In [55]:
al_east[al_east['Home Win Pct'] > 0.55]  # All teams that won at home more than 55% of the time

,Home Wins,Home Losses,Away Wins,Away Losses,Payroll ($MM),Home Win Pct,Away Win Pct
Team,,,,,,,
Red Sox,48,33,45,36,199.8,0.592593,0.555556
Yankees,51,30,40,41,201.5,0.629630,0.493827
Orioles,46,35,29,52,163.7,0.567901,0.358025

Try to select all teams with a payroll over $100MM and a Away Win Percentage less than 50%.  If you get stuck, you can check the [reference implementation](#Boolean-Index-DataFrame)

In [56]:
# Select all teams with a payroll over $100MM and an Away Win Percentage less than .50

To index into a `DataFrame`, you can use `loc` to index into a row and select it as a `Series`:

In [62]:
al_east.loc['Red Sox']

Home Wins         48.000000
Home Losses       33.000000
Away Wins         45.000000
Away Losses       36.000000
Payroll ($MM)    199.800000
Home Win Pct       0.592593
Away Win Pct       0.555556
Name: Red Sox, dtype: float64

You can also index by an internal 0-based integer index using `iloc`:

In [63]:
al_east.iloc[0]  # Returns the 0th row

Home Wins         48.000000
Home Losses       33.000000
Away Wins         45.000000
Away Losses       36.000000
Payroll ($MM)    199.800000
Home Win Pct       0.592593
Away Win Pct       0.555556
Name: Red Sox, dtype: float64

And finally, you can index a column as follows:

In [64]:
al_east['Home Wins']

Team
Red Sox    48
Yankees    51
Rays       42
Jays       42
Orioles    46
Name: Home Wins, dtype: int64

We've just scratched the surface of the power of `Series` and `DataFrames`, but this should give you enough background to follow along with the other notebooks in this class.  Check out the [documentation](http://pandas.pydata.org/pandas-docs/stable/basics.html) for more info on features like:
* Data cleaning and handling missing values
* Group-by and using the [split-apply-combine strategy of data analysis](https://www.jstatsoft.org/article/view/v040i01)
* Merges and Joins
* Working with categorical or time series data

## 3. Further Reading

If your linear algebra is a little rusty, this is a good cheat sheet to review before this course:

* [Linear algebra cheat sheet for deep learning](https://medium.com/towards-data-science/linear-algebra-cheat-sheet-for-deep-learning-cd67aba4526c)

Here are a few more pandas tutorials you may want to take a look at:

* [Greg Reda - Intro to pandas data](http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/)
* [Greg Reda - Working with DataFrames](http://www.gregreda.com/2013/10/26/working-with-pandas-dataframes/)
* [10 Minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)


## 4. Answers

### 4.1 Reference Implementations

#### Feature Scaling

In [27]:
scaled_wins = (wins - wins.min())/(wins.max() - wins.min())

#### Boolean Indexing

In [30]:
wins[wins < wins['Red Sox']]

Jays       76
Orioles    75
Rays       80
Yankees    91
dtype: int64

#### Win Percentage

In [57]:
al_east['Home Win Pct'] = al_east['Home Wins']/(al_east['Home Wins'] + al_east['Home Losses'])
al_east['Away Win Pct'] = al_east['Away Wins']/(al_east['Away Wins'] + al_east['Away Losses'])

#### Boolean Index DataFrame

In [ ]:
al_east[(al_east['Payroll ($MM)'] > 100) & (al_east['Away Win Pct'] < .5)]